.DS_Store
/Users/MADindustries/Documents/EOS/AutoMod/.DS_Store
/Users/MADindustries/Documents/EOS/AutoMod/version/.DS_Store
/Users/MADindustries/Documents/EOS/AutoMod/Tools
/Users/MADindustries/Documents/EOS/AutoMod/Backup